.Pages {
    min-height: 8vh;
  }
  
  .Pages .LiveDataLabLogo {
    float: left;
    height: 8vmin;
    pointer-events: none;
    margin-top: -0.2%;
    margin-left: -1;
  }
  

  .Pages button{
    float: left;
    min-width: 15vh;
    margin-top: 1%;
    text-align: center;
    padding: 14px 14px;
    font-size: 16px;
    background-color: rgb(48, 99, 161);
    font-weight: bold;
    color:rgb(79, 79, 79)
  }
  
  .Pages a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
  }

  .navbar .sign-out-button {
    color: rgb(255, 255, 255);
    margin-top: -5%;
    margin-bottom: 2%;
    margin-right: -75%;
  }

  .navbar .profile-username {
    color: rgb(79, 79, 79);
    margin-top: -4%;
    margin-right: -15%;
    font-weight: bold;
    font-size: large;
  }

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    color: white;
    cursor: pointer;
    position: relative;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
    margin-top: 0.8%;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(245, 245, 245, 0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
  }
  
  li {
    display: inline; /* or use float: left; */
    margin-right: 10px; /* optional spacing between list items */
  }

  .profile-photo {
    height: 50px;
    width: auto;
    margin-left: 50%;
    margin-top: 0.5%;
  }